

/*************************** Style formation *******************/
#Formation h2{
	/*font-size: 60 ;*/
	color: #FFFFFF;
	font-weight: normal;
}

#Formation hr{
 border-top: 3px dashed white;
 padding: 0;
 width: 100vw ;
	position: absolute;
	right: 0px;
}

@media screen and (min-width: 800px) {
	.uneFormationGauche,.uneFormationDroite{
		display: grid;
		grid-template-columns: repeat(10, 1fr);
		height: 103px;
		padding: 1vw;
		font-size : 18px; !important;
		
	}

	.uneFormationDroite *{
		font-size : 18px !important;
	}

	.uneFormationGauche *{
		font-size : 18px !important;
	}

	.uneFormationGauche img{
		grid-column: 1 / 10;
		grid-row : 1/1;
	}

	.uneFormationGauche ul{
		grid-column: 3 / 11;
		grid-row : 1/1;

	}

	.uneFormationDroite img{
		grid-column: 8 / 11;
		grid-row : 1/1;
	}

	.uneFormationDroite ul{
		grid-column: 1 / 11;
		grid-row : 1/1;
	}

	#Formation ul ul{
		padding-inline-start: 10px;
	}
}

.CPELogo{
	width: 175px;
	height: 74px;
}

.UGALogo{
	width: 175px;
	height: 107px;
}

.LbaLogo{
width: 175px;
height: 85px;
}

#Formation img{
	border-radius: 15px;
	background-color: white;
	object-fit: cover;
}

#Formation ul{
	list-style-type: disc; 
}

#Formation ul ul li::before {content: "•"; color: white; margin-right: 10px}

