th {
  background-color: #C97F00;
  color: white;
}


th, td {
  border-bottom: 1px solid #ddd;
}

th, td {
  padding: 15px;
  text-align: left;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #1E3D58;
  color: white;
}

table{
  /*top : max(100px,13vw);*/

  /*position: absolute;*/
  /*height: 100%;*/

}

.levelBar{
  width: 9vw;
  min-width: 50px;
  border: solid 2px #C97F00;
  /*color: black;*/
  border-radius: 50px;
}

.level{
  margin: -1px;
  width: 95%;
  background: #C97F00;
  border-radius: 50px;

}

.value{
  padding-left: 7px;
  font-size: 0.8rem;
}

#sectionLang
{
  width: 100vw;
  /*height: calc(400px - 20vw);*/
  padding-left: 0px;
  padding-right: 0x;

  margin-top: max(-20vw,-102px);
  margin-bottom: max(-20vw,-102px);
}

@media screen and (max-width: 700px)
{
  table,th,td,tr{
    display: block;
  }
  td{
    padding-left: 150px;
    position: relative;
  }

  td::before{
    content: attr(data-label);
    position: absolute;
    top: 0;
    left : 0;
    width: 100px;
    bottom: 0;
    background-color: #C97F00;
    color: white;
    display: flex;
    padding: 15px;
    font-weight: bold;
    align-items: center;
  }

  tr{
    margin-bottom: 1rem;
  }

  th{
    display: none;
  }

  td{
    background-color: white;
  }

  td:nth-child(odd) {
  background-color: #f2f2f2;
}

  tr:hover {
  color: black;
}

  .levelBar{
  width: 50vw;
  }

  footer ul {
    bottom: -95px;
  }
}